<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>names</key>
		<array>
			<string>Addisyn</string>
			<string>Adah</string>
			<string>Adalia</string>
			<string>Adamina</string>
			<string>Amily</string>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>Baber</string>
			<string>Baldie</string>
			<string>Babur</string>
			<string>Bachelor</string>
			<string>Baker</string>
			<string>Baal</string>
			<string>Balaam</string>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>Callie</string>
			<string>Carole</string>
			<string>Carmelita</string>
			<string>Camilla</string>
			<string>Candace</string>
			<string>Candida</string>
			<string>Carlton</string>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>Dagmar</string>
			<string>Dahlia</string>
			<string>Damaris</string>
			<string>Darleen</string>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>Eda</string>
			<string>Eleanore</string>
			<string>Elfreda</string>
			<string>Elin</string>
			<string>Elaine</string>
			<string>Elisabeth</string>
			<string>Elise</string>
		</array>
		<key>title</key>
		<string>E</string>
	</dict>
</array>
</plist>
