<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>龙虾</string>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>龙虾0</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龙虾1</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龙虾2</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龙虾3</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龙虾4</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>螃蟹0</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>螃蟹1</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>螃蟹2</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
		</array>
		<key>title</key>
		<string>蟹类</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>贝类0</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>贝类1</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
		</array>
		<key>title</key>
		<string>贝类</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>其他活鲜0</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
		</array>
		<key>title</key>
		<string>其他活鲜</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>name</key>
				<string>冻品0</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冻品1</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冻品2</string>
				<key>image</key>
				<string>bolong</string>
			</dict>
		</array>
		<key>title</key>
		<string>冻品</string>
	</dict>
</array>
</plist>
