<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>project</key>
		<string>Project 01 - collection横向排列</string>
	</dict>
	<dict>
		<key>project</key>
		<string>Project 02 - CollectionTest</string>
	</dict>
	<dict>
		<key>project</key>
		<string>Project 03 - 瀑布流</string>
	</dict>
	<dict>
		<key>project</key>
		<string>Project 04 - 联动</string>
	</dict>
	<dict>
		<key>project</key>
		<string>Project 05 - Pokemon</string>
	</dict>
</array>
</plist>
