<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continentID</key>
		<string>00</string>
		<key>洲</key>
		<string>亚洲</string>
		<key>国家</key>
		<array>
			<dict>
				<key>countryID</key>
				<string>000</string>
				<key>国家名称</key>
				<string>中国</string>
				<key>城市</key>
				<array>
					<dict>
						<key>cityID</key>
						<string>0001</string>
						<key>城市名称</key>
						<string>北京</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0002</string>
						<key>城市名称</key>
						<string>上海</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0003</string>
						<key>城市名称</key>
						<string>深圳</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0004</string>
						<key>城市名称</key>
						<string>广州</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>countryID</key>
				<string>001</string>
				<key>国家名称</key>
				<string>俄罗斯</string>
				<key>城市</key>
				<array>
					<dict>
						<key>cityID</key>
						<string>0011</string>
						<key>城市名称</key>
						<string>莫斯科</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0012</string>
						<key>城市名称</key>
						<string>新西伯利亚</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0013</string>
						<key>城市名称</key>
						<string>叶卡捷琳堡</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continentID</key>
		<string>01</string>
		<key>洲</key>
		<string>南美洲</string>
		<key>国家</key>
		<array>
			<dict>
				<key>countryID</key>
				<string>010</string>
				<key>国家名称</key>
				<string>巴西</string>
				<key>城市</key>
				<array>
					<dict>
						<key>cityID</key>
						<string>0101</string>
						<key>城市名称</key>
						<string>里约热内卢</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0102</string>
						<key>城市名称</key>
						<string>圣保罗</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0103</string>
						<key>城市名称</key>
						<string>萨尔瓦多</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0104</string>
						<key>城市名称</key>
						<string>巴西利亚</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>countryID</key>
				<string>011</string>
				<key>国家名称</key>
				<string>阿根廷</string>
				<key>城市</key>
				<array>
					<dict>
						<key>cityID</key>
						<string>0111</string>
						<key>城市名称</key>
						<string>布宜诺斯艾利斯</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0112</string>
						<key>城市名称</key>
						<string>科尔多瓦</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0113</string>
						<key>城市名称</key>
						<string>罗萨里奥</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0114</string>
						<key>城市名称</key>
						<string>拉普拉塔</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continentID</key>
		<string>02</string>
		<key>洲</key>
		<string>澳洲</string>
		<key>国家</key>
		<array>
			<dict>
				<key>countryID</key>
				<string>020</string>
				<key>国家名称</key>
				<string>澳大利亚</string>
				<key>城市</key>
				<array>
					<dict>
						<key>cityID</key>
						<string>0201</string>
						<key>城市名称</key>
						<string>悉尼</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0202</string>
						<key>城市名称</key>
						<string>墨尔本</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0203</string>
						<key>城市名称</key>
						<string>堪培拉</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0204</string>
						<key>城市名称</key>
						<string>布里斯本</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>countryID</key>
				<string>021</string>
				<key>国家名称</key>
				<string>新西兰</string>
				<key>城市</key>
				<array>
					<dict>
						<key>cityID</key>
						<string>0211</string>
						<key>城市名称</key>
						<string>奥克兰</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0212</string>
						<key>城市名称</key>
						<string>惠灵顿</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0213</string>
						<key>城市名称</key>
						<string>基督城</string>
					</dict>
					<dict>
						<key>cityID</key>
						<string>0214</string>
						<key>城市名称</key>
						<string>哈密尔顿</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
